.inputContainer {
  display: flex;
  align-items: center;
  background-color: beige;
  justify-content: center;
  height: 100vh;
}

.button {
  border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 10px;
    background-color: aqua;
}